.radio {
  &__input {
    @mixin visually-hidden;
  }

  &__image {
    height: 37px;
  }

  &__label {
    color: var(--color-grey-700);
    font-size: var(--size-font-text-400);
    line-height: var(--size-lineheight-text-400);
    margin-top: 11px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--color-grey-100);
    border-radius: var(--size-border-radius-radio);
    outline: none;
    transition: all 0.1s linear;

    padding: 14px 30px 10px 30px;
    @mixin mobile {
      padding: 14px 22px 10px 22px;
    }
  }

  &__input:checked + &__box {
    box-shadow: 0 0 0 0px var(--color-grey-100), 0 0 0 1px var(--color-grey-700);
  }

  &__input:focus + &__box,
  &__input:hover:not([disabled]) + &__box {
    box-shadow: 0 0 0 0px var(--color-grey-100), 0 0 0 1px var(--color-blue-900);
  }


  &__input:disabled + &__box {
    opacity: 0.2;
  }
}

.check__box {
  position: absolute;
  margin-left: -1.2em;
  width: 1em;
  height: 1em;
  background-image: url(https://cdn.glitch.com/d6162378-5823-4160-a555-3d9789bd2b92%2Foff.svg?1550563355034);
}

.check__input:checked + .check__box {
  background-image: url(https://cdn.glitch.com/d6162378-5823-4160-a555-3d9789bd2b92%2Fon.svg?1550563355439);
}

.check__input:focus + .check__box {
  background-image: url(https://cdn.glitch.com/d6162378-5823-4160-a555-3d9789bd2b92%2Foff-focused.svg?1550563355021);
}

.check__input:checked:focus + .check__box {
  background-image: url(https://cdn.glitch.com/d6162378-5823-4160-a555-3d9789bd2b92%2Fon-focused.svg?1550563355063);
}

.check__input:disabled + .check__box {
  background-image: url(https://cdn.glitch.com/d6162378-5823-4160-a555-3d9789bd2b92%2Foff-disabled.svg?1550563354916);
}

.check__input:checked:disabled + .check__box {
  background-image: url(https://cdn.glitch.com/d6162378-5823-4160-a555-3d9789bd2b92%2Fon-disabled.svg?1550563354883);
}
