p.text {
  font-size: var(--size-font-text-500);
  line-height: var(--size-lineheight-text-500);
}

small.text {
  font-size: var(--size-font-text-50);
  line-height: var(--size-lineheight-text-50);
}

.text.center {
  text-align: center;
}