:root {
  /* --size-grids-card-gutter: 20px;
  --size-grids-card-offset: 20px;
  --size-grids-mobile-gutter: 20px;
  --size-grids-mobile-offset: 20px;
  --size-grids-tablet-768-gutter: 20px;
  --size-grids-tablet-768-offset: 0px;
  --size-grids-desktop-1024-gutter: 20px;
  --size-grids-desktop-1024-offset: 0px; */
 }