:root {
  --size-font-text-700: 32px;
  --size-font-text-600: 26px;
  --size-font-text-550: 24px;
  --size-font-text-500: 18px;
  --size-font-text-400: 15px;
  --size-font-text-300: 13px;
  --size-font-text-200: 12px;
  --size-font-text-150: 10px;
  --size-font-text-100: 8px;
  --size-font-text-50: 9px;

  --size-lineheight-text-700: 40px;
  --size-lineheight-text-600: 33px;
  --size-lineheight-text-500: 30px;
  --size-lineheight-text-400: 20px;
  --size-lineheight-text-300: 19px;
  --size-lineheight-text-200: 15px;
  --size-lineheight-text-150: 13px;
  --size-lineheight-text-100: 10px;
  --size-lineheight-text-50: 20px;

  --size-button-button: 18px;
  --size-line-height-button: 23px;

  --size-font-label: 10px;
  --size-line-height-label: 13px;

  --size-font-input: 16px;
  --size-lineheight-input: 20px;

  --size-font-radio: 15px;
  --size-line-height-radio: 20px;

  --font-family-text: Geometria, Arial, sans-serif;
}
